.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.sm {
  max-width: 42rem;
}

.md {
  max-width: 65rem;
}

.lg {
  max-width: 85rem;
}

.full {
  max-width: 100%;
}
